@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @if (signInManager.IsSignedIn(User))
        {
            <h1 class="display-4">Hello, @User.Identity.Name!</h1>

            <div class="d-flex flex-column float-none">
                <a asp-controller="Item" asp-action="Index">View Items</a>
                <a asp-controller="Supplier" asp-action="Index">View Suppliers</a>
                <a asp-controller="Sale" asp-action="Index">View Sales</a>
                <a asp-controller="Forecast" asp-action="Index">View Forecast</a>
            </div>
        }
        else
        {
            <h1 class="display-4">Welcome</h1>
            <div class="d-flex flex-column float-none">
                <a asp-controller="Account" asp-action="Register">Create Account</a>
                <a asp-controller="Account" asp-action="Login">Login</a>
            </div>
        }
    </div>