@model InventoryManager.ViewModels.EditItemViewModel

<h1>Edit @Model.SKU</h1>

<form asp-controller="Item" asp-action="Edit" method="post">

    <input hidden asp-for="ID"/>
    <div class="form-group">
        <label asp-for="SKU"></label>
        <input class="form-control" asp-for="SKU" />
        <span asp-validation-for="SKU"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="QuantityOnHand"></label>
        <input class="form-control" asp-for="QuantityOnHand" />
        <span asp-validation-for="QuantityOnHand"></span>
    </div>
    <div class="form-group">
        <label asp-for="UnitCost"></label>
        <input class="form-control" asp-for="UnitCost" />
        <span asp-validation-for="UnitCost"></span>
    </div>
    <div class="form-group">
        <label asp-for="SupplierID"></label>
        <select asp-for="SupplierID" asp-items="Model.Suppliers"></select>
    </div>

    <input type="submit" value="Update Item" />
    <a asp-controller="Item" asp-action="Index" class="btn">Cancel</a>

</form>