@model List<InventoryManager.Models.Supplier>

<h1>Suppliers</h1>

<table class="table">

    <tr>
        <th>Supplier Name</th>
        <th>Country</th>
        <th></th>
    </tr>

    @foreach (var supplier in Model)
    {
    <tr>
        <td>@supplier.Name</td>
        <td>@supplier.Country</td>
        <td><a asp-action="Edit" asp-controller="Supplier" asp-route-id="@supplier.ID">Edit</a></td>
    </tr>
    }
</table>

@if (Model.Count == 0)
{
    <p>No suppliers yet!</p>
}

<p><a asp-controller="Supplier" asp-action="Add">Add Supplier</a> | <a asp-controller="Supplier" asp-action="Remove">Remove Supplier</a></p>